---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Evolut">
  <section
    class="flex flex-col gap-2 rounded-lg bg-gradient-to-r from-violet-600 to-blue-500 p-4"
  >
    <h1 class="text-xl font-bold">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla cupidatat non proident, sunt in
      culpa qui officia deserunt mollit anim id est laborum. pariatur. Excepteur
      sint occaecat
    </p>
    <div></div>
    <a href="/get-started">
      <button
        type="button"
        class="mb-2 me-2 w-32 rounded-lg bg-slate-100 px-5 py-2.5 text-sm font-medium text-black hover:bg-slate-300"
        >Get Started</button
      >
    </a>
  </section>
</Layout>
