---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Evolut">
  <section
    class="flex flex-col gap-2 rounded-xl bg-gradient-to-r from-violet-900 via-purple-600 to-violet-600 p-4"
  >
    <h1 class="text-xl font-extrabold">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla cupidatat non proident, sunt in
      culpa qui officia deserunt mollit anim id est laborum. pariatur. Excepteur
      sint occaecat
    </p>
    <div></div>
    <a href="/get-started">
      <button
        type="button"
        class="mb-2 me-2 w-32 rounded-lg bg-slate-100 px-5 py-2.5 text-sm font-medium text-black hover:bg-slate-300"
        >Get Started</button
      >
    </a>
  </section>
  <section class="flex flex-col gap-4">
    <h1 class="text-xl">
      Lorem ipsum dolor <span class="text-purple-500">sit</span>
    </h1>
    <div class="flex gap-4">
      <div>
        <iframe
          class="rounded-lg"
          width="560"
          height="315"
          src="https://www.youtube.com/embed/cuLprHh_BRg?si=LRfTWoTO0f6VpSVZ"
          title="Michael Jeffrey Jordan"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>
      <div class="flex flex-col gap-4">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Diam
          volutpat commodo sed egestas egestas fringilla. Mauris augue neque
          gravida.
        </p>
        <a href="/get-started">
          <button
            type="button"
            class="mb-2 me-2 w-32 rounded-lg bg-slate-100 px-5 py-2.5 text-sm font-medium text-black hover:bg-slate-300"
            >Get Started</button
          >
        </a>
      </div>
    </div>
  </section>
  <section class="flex flex-col items-center justify-center gap-4">
    <h1 class="font-bold">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </h1>
    <a href="/get-started">
      <button
        type="button"
        class="mb-2 me-2 w-32 rounded-lg bg-slate-100 px-5 py-2.5 text-sm font-medium text-black hover:bg-slate-300"
        >Get Started</button
      >
    </a>
  </section>
</Layout>
